.imgClass {
    width: 330px;
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgGoogleplus {
    background: url(../img/signin_google.png) no-repeat;
}
.imgFacebook {
    background: url(../img/signin_face.png) no-repeat;
}
.jumbotron {
    /*width: 800px;*/
    /*height: 300px;*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    color: #d5d5d5;
    background-image: url(../img/indeks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-default {
    color: #0000cc !important;
    background-color: #4cae4c !important;
    border-color: #5B5B5B !important;
}
#id {
    width: 90%;
}

body {
    background-color: #fbed50 !important;
}

.container-fluid {
    background-color: #000000 !important;
}
